body {
  background-color: #f6edce;
}
.container {
  margin: 20px auto;
  max-width: 600px;
  background-color: #dba75b;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  font-weight: 800;
  font-size: 38px;
  line-height: 1.5;
  color: #3a170d;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

form {
  padding: 15px;
  border-radius: 10px;
  display: flex;
}
.recipe-input {
  padding: 16px;
  line-height: 1.5;
  background-color: #f6edce;
  width: 80%;
  font-size: 15px;
  border-radius: 10px;
  border: none;
}
.recipe-button {
  margin-left: 10px;
  background-color: #5c2f27;
  color: white;
  border: none;
  border-radius: 10px;
  width: 150px;
  padding: 16px;
}

.hint {
  font-size: 12px;
  padding-left: 20px;
  opacity: 0.6;
}
.recipebody {
  font-size: 16px;
  font-weight: 200;
  color: #903b0d;
  padding: 16px;
  line-height: 1.5;
  border-left: 3px solid #3a170d;
}

.hidden {
  display: none;
}
.generating {
  animation: blink-animation 1s steps(5, start) infinite;
  font-size: 16px;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
footer {
  text-align: center;
  color: #3a170d;
}
